a(name="Home")
nav.nav
  #particles-js
    article.menu
      .button_container#toggle
        span.top
        span.middle
        span.bottom

      .overlay#overlay
        .overlay-menu
          ul
            li 
              a(href="#Home") Inicio
            li
              a(href="#Sobre") Sobre
            li
              a(href="#Portfolio") Portfólio
            li
              a(href="#Contato") Contato
  .container
      .columns
        .column.is-three-fifths
          .brand
            .brand-icon
            hr
            h1 Desenvolvedor Front-End