a(name="Portfolio")
section.portfolio
  .container
    .columns
      .column
        article
          hr
          h1.titles.has-text-left Portfólio

          .content-group.text-principal.has-text-centered
            p Eduardo dos Santos Jacinto, Tenho 20 Anos, Sou formado pela Escla Técnica do Estado de São Paulo (ETESP) em Técnico de Informática. Atualmente, faço faculdade na Faculdade das Américas (FAM) o curso de Sistemas de Informação. Atualmente trabalho na Agência Superare Media, desde Novembro/2017. 
            br
            p Com conhecimentos em, Desenvolvimento Mobile, Desenvolvimento de Softwares, Desenvolvimento Front End, Banco de Dados, Análise de Sistemas, Documentação de Sistemas (UML), Instalação e Manutenção de Computadores e outras ferramentas de TI.
            br

            ul
              li
                p
                  strong Linguagens de Programação: 
                  |  PHP, JAVA, C#, JavaScript.
              
              li
                p
                  strong Banco de Dados:
                  |  SQL Server e MySql.

              li
                p
                  strong Documentação:
                  |  UML, MER e DER.

              li
                p
                  strong Ambientes de Desenvolvimento:
                  |  Visual Studio, NetBeans, Eclipse, JetBrains IDE (PhpStorm).
              
              li
                p
                  strong Frameworks:
                  |  Bootstrap, jQuery.

              li
                p
                  strong Desenvolvimento Front End:
                  |  WordPress, HTML5, CSS3, JavaScript e Sass.
              
              li
                p
                  strong CMS:
                  |  WordPress.