a(name="Sobre")
section.sobre
  .container
    .columns
      .column
        article
          hr
          h1.titles Sobre

          .content-group.text-principal
            p Desenvolvedor Front-End com experiência em User Experience. Ao lado estão as tecnologias que costumo trabalhar e/ou tenho conhecimento.

      
      .column.second-column
        .columns.is-multiline.is-mobile
          .column.is-one-quarter-desktop.has-text-centered.is-half-mobile.tecnologies
            article
              .icons.icon
              ul
                li 
                  br
                li 
                  p Jade Engine
              
          .column.is-one-quarter-desktop.has-text-centered.is-half-mobile.tecnologies
            article
              .icons.icon
              ul
                li
                  br
                li
                  p SASS / SCSS

                li
                  p Bulma

                li
                  p Bootstrap

                li
                  p Flexbox
          
          .column.is-one-quarter-desktop.has-text-centered.is-half-mobile.is-half-mobile.tecnologies
            article
              .icons.icon
              ul
                li
                  br
                li
                  p jQuery
                
                li
                  p Angular.js

                li
                  p Node.js

          .column.is-one-quarter-desktop.has-text-centered.is-half-mobile.tecnologies
            article
              .icons.icon
              ul
                li
                  br
                li 
                  p Wordpress
                
                li
                  p Laravel
    